.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.order-images {
  display: flex;
  justify-content: center;
}

.order-images img {
  max-width: 250px;
  max-height: 250px;
}

.image-container {
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.dropdown-container {
  display: flex;
  justify-content: center;
}

.dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  margin: 5px;
}

.dropdown select {
  margin-top: 8px;
  width: fit-content;
}